$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$font-sans: 'Open Sans', 'Arial', sans-serif;
$font-size: 24px;

$color-white: #fefefe;
$color-green: #002f2f;
$color-milk: #faf9ef;
$color-khaki: #a7a37e;
$color-blue: #046380;
$color-gray: #a1a1a1;

$transition: 500ms;
